<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filter</title>
</head>
<body>
  <div id="app">
    {{ price | number_format }}
  </div>

  <script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          price: 1000,
        }
      }
    });

    app.config.globalProperties.$filters = {
      number_format(val) {
        return val.toLocaleString();  //3桁区切りにし、通貨形式になっている
      }
    };
    //表示される値は 1,000になる
    
    const vm = app.mount('#app');

    //【app.config.globalProperties.$filters】定義によってアプリケーションのどこからでも{{ price |  number_format }}として使用することができる
    //app.config...vueアプリケーションの設定を行うオブジェクト
    //globalProperties...グローバルに利用可能なプロパティに設定するためのオブジェクト
    //$filters...フィルターを定義するためのプロパティ名
  </script>
  <style></style>
</body>
</html>