<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Resize</title>
</head>
<body>
  <div id="app">
    ウィンドウの横幅：{{ width  }}<br>
    ウィンドウの縦幅：{{ height }}
  </div>
</body>
</html>
<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
<script>
const app = Vue.createApp ({
  data() {
    return {
      //ウィンドウの内側の幅（縦、横）を取得する
      width: window.innerWidth,
      height: window.innerHeight
    }
  },
  created() {
    // イベントハンドラを登録
    addEventListener('resize',this.resizeHandler);
  },
  beforeUnmount() {
    // イベントハンドラの解除
    removeEventListener('resize',this.resizeHandler);
  },
  methods: {
    // イベントハンドラ
    resizeHandler($event) {
      // 現在のウィンドウサイズでプロパティを更新する
      this.width = $event.taeget.innerWidth;
      this.height = $event.target.innerHeight;
    }
  }
})
const vm = app.mount('#app');
</script>

<!-- 
・v-on(@click)で検知できないイベントはaddEventListener関数を使用してイベントハンドラ登録する
（Vue.jsを介して登録をしていない）
・addEventListenerは登録が早い方が良い為、以下ライフサイクルのタイミングでの登録を検討する
    created
    mounted
・Vue.jsを介さずに登録したイベントハンドラは不要になったタイミング（beforeUnmountなど）でremoveEventListener関数を使用して登録を解除しなければならない 
-->
