<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StockMonitoring</title>
</head>
<body>
  <div id ="app">
    <template v-if="stock >= 1">
      <p>残り{{ stock }}個</p>
      <button class="btn" @click="onDeleteItem">削除</button>
    </template>
    {{ message }}
  </div>
</body>
</html>
<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
<script>
const app = Vue.createApp ({
  data() {
    return {
      stock: 10,
      message:''
    }
  },
  methods: {
    // 削除ボタンのイベントハンドラ
    onDeleteItem() {
      this.stock --;
    }
  },
  watch: {
    // 在庫が変化した時に呼び出されるハンドラ
    stock(newStock, oldStock) {
      if (newStock === 0)
      this.message = "売り切れ";
    }
  }
})
const vm = app.mount('#app');
</script>
<!-- 
11行目
  ・条件分岐で1と等しい、または1以上の場合（関係演算子/小なりイコール演算子）はtemplate内が表示される
    ※小なり、大なりどちらでも＝は常に右に記述する
24/25行目
  ・初期値はStock10,message内が空白（つまり非表示）
30/31行目
  ・v-on(@clickイベント)が発生した場合、Stockの数から1引く（デクリメント演算子）
36行目
  ・第一引数に更新後の値
  ・第二引数に更新前の値（つまり10）
　  ※引数の設定は任意
37行目
  ・条件分岐でnewStockの値が0と厳密に等しくなった時（厳密等価演算子）
38行目
  ・マスタッシュのmessageが「売り切れ」と表示 
-->