<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transition2</title>
  </head>
  <body>
    <div id="app">
      <button @click="show = !show">表示の切り替え</button>
      <transition name="fade">
        <p v-if="show">
          こんばんは<br />
          fadeに名称をかえました。<br />
        </p>
      </transition>
    </div>
  </body>
</html>

<script src="https://unpkg.com/vue@3.2.31/dist/vue.global.js"></script>
<script>
  const app = Vue.createApp({
    data() {
      return {
        show: true
      }
    }
  })
  const vm = app.mount('#app')
</script>

<style>
  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }

  .fade-enter-to,
  .fade-leave-from {
    opacity: 1;
  }

  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
</style>
